tags
fs.img
xv6-user/_*
xv6-user/*.d
xv6-user/*.o
xv6-user/*.asm
xv6-user/*.sym
xv6-user/initcode
xv6-user/initcode.out
xv6-user/init-for-test
xv6-user/init-for-test.out
xv6-user/usys.S
kernel/*.back.c
kernel/*.example.c
kernel/*.d
kernel/*.o
kernel/include/*.back.h
kernel/include/*.example.h
target/*
.vscode
build
kernel-qemu*
init-for-test-bin.txt
tmp
tools/backtrace
.idea